@media (min-width: 600px) {
  .hero-pic1-mob {
    background-image: url('../../assets/carousel-pic2.jpg');
    background-position: center;
    background-size: cover;
    width: 100vw;
     height: 50vw;
  }

  .title-car-mob {
    font-size: 1em;
    color: red;
  }

  .subhead-car-mob {
    font-size: .5em;
  }
  }