

.main {
  display: flex;
  height: 30em;
  /* border: orange 1em solid; */
 
}

.about-logo {
  background-image: url(../../assets/Images/LogoSymbol.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 30%;
  /* align-content: left; */
  /* border: red 2px solid; */
}


.about-container {
  display: flex;
  padding-top: 2em;
  /* border: purple 2/px solid; */
}

.learn {
  width: 70%; 
  /* border: blue 1em solid; */
  
}

.about-title {
  font-size: 2.5em;
  padding: 1em;
}

.mission {
  font-size: 2em;
  padding: 1em;
}

.mission-paragraph {
  padding: 1.5em;
  font-size: 1.2em;
  
}

.convert-container {
  display: flex;  
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
  /* border: solid pink 1em; */
}

.converted-paragraph {
  /* border: solid red 1em; */
  font-size: 17px;
  width: 50%;
  
}

.about-wrapper {
  width: 65%;
  /* border: blue 2px solid; */
}
.about-pic1 {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.about-pic2 {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.about-pic3 {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
