

.main {
  display: flex;
  height: 30em;
 
}

.about-logo {
  background-image: url(../../assets/Images/LogoSymbol.png);
  background-size: cover;
  height: 100%;
  width: 50%;
  align-content: left;
 
}


.about-container {
  display: flex;
  
}

.learn {
  width: 90%; 
  
}

.about-title {
  font-size: 27px;
  padding: 1em;
}

.mission {
  font-size: 16px;
  
}

.mission-paragraph {
  
}

.bottom {
  display: flex;
  border: solid blue 1em;
  /* justify-content: space-evenly; */
}

.convert-container {
  display: flex;  
  flex-direction: column;
  border: solid pink 1em;
}

.converted {
  font-size: 1.5em;
  border: solid orange 1em;
  
}

.converted-paragraph {
  border: solid red 1em;
  font-size: 17px;
  
}

.about-pic1 {
  display: flex;
  background-image: url('../../assets/carousel-pic.jpg');
  background-position: right;
  background-size: cover;
  width: 30vw;
  height: 10vw;
  padding: 0em 1em;
}