/* --------------- CAROUSEL ---------------- */

/* .hero-wrapper {
  width: 100vw;
  height: 100vh;
  padding: 0em 5em;
} */

.hero-pic1 {
  background-image: url('../../assets/carousel-pic.jpg');
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 50vw;
  padding: 0em 1em;
}
.hero-pic2 {
  background-image: url('../../assets/carousel-pic2.jpg');
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 50vw;
  padding: 0em 1em;
}
.hero-pic3 {
  background-image: url('../../assets/carousel-pic3.jpg');
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 50vw;
  padding: 0em 1em;
}
.hero-pic4 {
  background-image: url('../../assets/carousel-pic4.jpg');
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 50vw;
  padding: 0em 1em;
}

.hero-align_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  
}

.hero-align_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: white;

}

.col-two {
  flex: 50%;
}