/* --------------- Fonts ---------------- */



/* --------------- Colors ---------------- */
/* #FFFFFF #724524 #7344 */



/* --------------- HERO ---------------- */

.hero-wrapper {
  width: 100vw;
  height: 100vh;
  padding: 0em 5em;
}

/* --------------- ABout ---------------- */
.about-col-one {
  flex: 50%;
}
.col-two {
  flex: 50%;
}

/* --------------- NAV ---------------- */

.main-nav {
  display:-webkit-flex;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 2em;
  width: 100vw;
  height: 5em;
  background-color: white;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  font-size: 1.2em;
  
} 

/* .right-nav {
  justify-content: flex-end;
}

.left-nav {
  justify-content: right;
} */

.nav-item {
  padding: 2em;
  margin: 0% 0% 0% 1%;
}