/* This Targets EVERYTHING -- just a good thing to do for any project.
 Gives a default value of 0 padding and margin */

* {
  padding: 0;
  margin: 0;
}


/* --------------- Fonts ---------------- */



/* --------------- Colors ---------------- */
/* #FFFFFF #724524 #7344 */

/* --------------- NAV ---------------- */

.main-nav {
  width: 100%;
  background-color: #7344;
}

/* --------------- CAROUSEL ---------------- */

/* .hero-wrapper {
  width: 100vw;
  height: 100vh;
  padding: 0em 5em;
} */

.hero-pic1 {
  background-image: url('../../assets/carousel-pic.jpg');
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 50vw;
  padding: 0em 1em;
}
.hero-pic2 {
  background-image: url('../../assets/carousel-pic2.jpg');
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 50vw;
  padding: 0em 1em;
}
.hero-pic3 {
  background-image: url('../../assets/carousel-pic3.jpg');
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 50vw;
  padding: 0em 1em;
}
.hero-pic4 {
  background-image: url('../../assets/carousel-pic4.jpg');
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 50vw;
  padding: 0em 1em;
}

.hero-align_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  
}

.hero-align_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: white;
}

.col-two {
  flex: 50%;
}



/* --------------- NAV ---------------- */

.main-nav {
  display:-webkit-flex;
  display: flex;
  flex-direction: row;
  /* align-items: center;  */
  /* position: relative;
  margin: 0 auto; */
  /* padding: 2em; */
  width: 100vw;
  height: 5em;
  background-color: white;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  font-size: 1.4em;
  flex-wrap: wrap;
  
} 

.nav-home {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 50%;
}

.right_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}

.nav-item {
  padding: 2em;
  color: black;
  position: relative;
}

.nav-item:hover {
  color: darkgrey;
}

.nav-item:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 20px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: darkgrey;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-item:hover:after { 
  width: 100%; 
  left: 0; 
}
