/* --------------- STATS ---------------- */

.stats-body {
  background-image: url('../../assets/Images/stats_image.jpg'); 
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  opacity: 0.75;
  font-size: xx-large;
  
  
}

.stats-container {
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
 
  margin-left: 10em;
  margin-right: 10em;
}
.cell {
  color: white;
  font-size: large;
  text-align: center;
  padding: 1rem;
}
.statsHeader {
  text-align: center;
  font-size: 2rem;
  color:white;
  padding-top: 2rem;
}