.orph-background {
 display: flex;
 
 justify-content: center;
 flex-direction: column;
 height: 65vh;
 width: 100%;
 padding: 10em 10em 10em;
 background: url('../../assets/Images/testpic.jpg');
 background-size: cover;
 color: white;
}
.orph-title {
  font-size: 60px;
  height: 7vh;
}
.orph-word {
  font-size: 60px;
}

.mid-col {
  display: flex;
  height: 25vh;
  width: 100%;
  flex-direction: column;
  padding: 5em 10em 0em;
}
.mid-title {
  display: flex;
  font-size: 30px;
}
.mid-p {
  display: flex;
}

.mid-container1 {
  display: flex;

  padding: 0em 10em 0em;
}
.mid-box1 {
  display: flex;
  font-size: 30px;
  flex-direction: column;
  padding-top: 4em;
  padding-right: 2em;
  width: 50%
}
.mid-para1 {
  display: flex;
  padding-top: 2em;
  font-size: 16px;
}
.mid-picbox1 {
  display: flex;
  background: url('../../assets/Images/orphtest.jpeg');
  background-size: cover;
  background-position: center;
  padding: 2em;
  height: 50vh;
  width: 50%;
}
.mid-container2 {
  display: flex;
  justify-content: space-around;
  padding: 5em 10em 3em;
}
.mid-box2 {
  display: flex;
  font-size: 30px;
  flex-direction: column;
  padding-top: 4em;
  padding-left: 2em;
  width: 50%
}
.mid-para2 {
  display: flex;
  padding-top: 2em;
  font-size: 16px;
}
.mid-picbox2 {
  display: flex;
  background: url('../../assets/Images/avacado.jpeg');
  background-size: cover;
  background-position: center;
  padding: 2em;
  height: 50vh;
  width: 50%;
}



