



.aboutUs-container{

  padding: 5px;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;

}

.list-style{

  margin-left: 50px;

}

.au-container {
  
  border-bottom: 1px solid black;
  margin-bottom: 25px;

}